{{#each this}}   
  <h1 class="country">{{name}}</h1>
  <div class="container">
      <div class="tpl_content-text">
        <p class="info">
          <span class="countrySpecification">Capital:</span>
          {{capital}}
        </p>
        <p class="info">
          <span class="countrySpecification">Population:</span>
          {{population}}
        </p>
        <p>
          <span class="countrySpecification">Languages:</span>
          <ul class="languages_list">
              {{#each languages}}
                  <li class="info">{{name}}</li>
              {{/each}}
          </ul>
        </p>
       </div>
        <div class="tpl_content-flag">
          <img class="flag" src={{flag}} alt={{name}}>
        </div>
  </div>
{{/each}}

