{{#each this}}
<div class="container">
      <h1 class="country">{{name}}</h1>
      <p class="capital">
        <span class="countrySpecification">Capital:</span>
        {{capital}}
      </p>
      <p class="population">
        <span class="countrySpecification">Population:</span>
        {{population}}
      </p>
      <p class="languages">
        <span class="countrySpecification">Languages:</span>
        <ul class="languages_list">
            {{#each languages.name}}
                <li>{{this}}</li>
            {{/each}}
        </ul>
      </p>
      <img src={{flag}} alt={{name}}>
</div>
{{/each}}

